<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="slack-app-id" content="A015DCS87FY">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
